banner {
	cursor: default;

	img {
		width: 100%;
	}

	learn-more-button {
		right: 7%;
        width: 15%;
        @media screen and (max-width: 685px) {
            font-size: small;
        }

        @media screen and (max-width: 600px) {
        	width: 18%;
        }

        @media screen and (max-width: 500px) {
        	width: 23%;
        	height: 30px;
        	margin-top: -15px;
        }
	}
}